<img src="../../../assets/foto-perfil.jpeg" alt="personal-picture" />
<div class="presentation">
  <p>Soy Luis Saravia</p>
  <p>Desarrollador de Software</p>
  <p>con JS, TS, PHP</p>
</div>

<div class="container-introduction">
  <h2>Introducción</h2>
  <p class="introduction">
    Bienvenido(a) a la página que expresa mi conocimiento y habilidad en
    desarrollo web. Me encuentro muy apasionado por los retos que como
    desarrollador puedo tener, los nuevos conocimientos que la programación me
    muestra y la aplicación de los mismos en proyectos que causen un impacto
    positivo en mi entorno.
  </p>
</div>
